{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1>My Profile</h1>
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url}}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
        </div>
  <!-- FORM HERE -->

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">You have {{ user.post_set.all.count }} posts.</legend>
            {{ form_u | crispy }}
            {{ form_p | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update My Profile</button>
        </div>
    </form>
</div>

{{ request.user }}
<!--PUT USERS POST HERE-->
<div class="content-section">

    You have total: {{ user.post_set.all.count }}
    {% for post in user.post_set.all %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">

            <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted | date:"Y-m-d h:i a" }}</small>
                </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
</div>

{% endblock content %}