{% extends "blog/base.html" %}

{% block content %}
    <h1>Blog Home black</h1>

    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">

            <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'posts-by-user' post.author %}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted | date:"Y-m-d h:i a" }}</small>
                </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}

<!--KIM put your pagination here-->
    {% if is_paginated %}

        <!--Show First & Previous -->
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info" href="?page=1">First</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <!--Loop all pages-->
        {% for num in page_obj.paginator.page_range %}

            <!--If current page, Print current page differently-->
            {% if num == page_obj.number %}
                <a class="btn btn-info" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>

            <!--Print nearby pages-->
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info" href="?page={{ num }}">{{ num }}</a>
            {% endif %}

        {% endfor %}

        <!--Show Next and Last page-->
        {% if page_obj.has_next %}
        <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
<!--End of your pagination Kim-->




</br>
    test_total:                 {{ test_total }} </br>
    test_post[0]['author']:     {{ test_post }} </br>
    test_len:                   {{ test_len }} </br>
    test_now:                   {{ test_now }} </br>
{% endblock content %}
